<template>
  <q-page class="flex column flex-center">
    <img
      v-if="$store.state.currentAuthToken"
      class="logo animate-pop"
      src="~assets/logo.svg"
      :alt="$appinfo.productName"
    >
    <component-loader v-else :loader="authFormLoader"/>
  </q-page>
</template>

<style>
</style>

<script>
import ComponentLoader from 'components/ComponentLoader'

export default {
  name: 'PageIndex',

  components: {
    ComponentLoader
  },

  mounted () {
    this.$store.commit('setCurrentProject', null)
    this.$store.commit('setCurrentIssue', null)
  },

  methods: {
    authFormLoader: () => import('components/AuthForm')
  }
}
</script>

<style lang="stylus">
.logo
  max-width 256px
</style>
