<template>
  <q-page class="flex column">
    <component-loader
      :loader="projectGridLoader"
    />
  </q-page>
</template>

<style>
</style>

<script>
import ComponentLoader from 'components/ComponentLoader'

export default {
  name: 'PageMonitor',

  components: {
    ComponentLoader
  },

  methods: {
    projectGridLoader: () => import('components/ProjectGrid')
  }
}
</script>

<style lang="stylus">
</style>
