<template>
  <q-page class="project-page">
    <div class="row gutter-sm">
      <div class="col-xs-12 col-md-6">
        <q-card class="issue-form bg-white">
          <q-card-title>
            {{ $store.state.currentIssue ? $t('Update issue') + ' #' + $store.state.currentIssue.iid : $t('New issue') }}
            <q-btn
              v-if="$store.state.currentIssue"
              flat
              slot="right"
              icon-right="chevron_right"
              :label="$t('View')"
              :title="$t('View on GitLab')"
              @click="openURL($store.state.currentIssue.web_url)"
            />
          </q-card-title>
          <q-card-main>
            <issue-form/>
          </q-card-main>
        </q-card>
        <component-loader :loader="issueNoteListLoader" v-if="$route.params.issueIid"/>
      </div>
      <div class="col-xs-12 col-md-6">
        <q-card class="issue-list bg-white">
          <q-card-title>
            {{ $t('Issues') }}
            <q-chip
              class="q-ml-sm"
              color="primary"
              v-if="$store.state.issueCount > 0"
            >{{ $store.state.issueCount }}</q-chip>
            <q-btn
              flat dense round
              slot="right"
              icon="add"
              :title="$t('Add new issue')"
              v-if="$store.state.currentProject"
              @click="$router.push('/' + $store.state.currentProject.id)"
            />
            <q-btn
              flat dense round
              slot="right"
              icon="refresh"
              :title="$t('Refresh')"
              v-if="$store.state.currentProject"
              @click="$refs.issueList.reloadIssues()"
            />
          </q-card-title>
          <q-card-main>
            <issue-list ref="issueList"/>
          </q-card-main>
        </q-card>
      </div>
    </div>
  </q-page>
</template>

<script>
import { openURL, QCard, QCardTitle, QCardMain, QChip } from 'quasar'

import ComponentLoader from 'components/ComponentLoader'
import IssueForm from 'components/IssueForm'
import IssueList from 'components/IssueList'

export default {
  name: 'PageProject',

  components: {
    QCard,
    QCardTitle,
    QCardMain,
    QChip,
    ComponentLoader,
    IssueForm,
    IssueList
  },

  mounted () {
    this.refetchProject()
    this.refetchIssue()
  },

  methods: {
    openURL: openURL,

    issueNoteListLoader: () => import('components/IssueNoteList'),

    refetchProject () {
      if (this.$route.params.projectId) {
        this.$store.dispatch('fetchProject', this.$route.params.projectId)
      } else {
        this.$store.commit('setCurrentProject', null)
        this.$store.commit('setCurrentIssue', null)
      }
    },

    refetchIssue () {
      if (this.$route.params.issueIid) {
        this.$store.dispatch('fetchIssue', {
          projectId: this.$route.params.projectId,
          iid: this.$route.params.issueIid
        })
      } else {
        this.$store.commit('setCurrentIssue', null)
      }
    }
  },

  watch: {
    '$route.params.projectId' (val, old) {
      if (val !== old) {
        this.refetchProject()
      }
    },

    '$route.params.issueIid' (val, old) {
      if (val !== old) {
        this.refetchIssue()
      }
    }
  }
}
</script>

<style lang="stylus">
@import '~variables'

.project-page > .row
  @media (min-width $breakpoint-md-min)
    padding 1rem
</style>
