<template>
  <q-card class="auth-form bg-white">
    <q-card-title class="text-center">
      <img
        class="logo animate-pop"
        src="~assets/logo.svg"
        :alt="$appinfo.productName"
      >
      <div class="text-left">{{ $t('Sign in') }}</div>
    </q-card-title>
    <q-card-main>
      <q-field class="auth-token" label-width="12">
        <q-input
          clearable
          v-model="form.token"
          type="password"
          :float-label="$t('Access key')"
          :error="$v.form.token.$error"
          :disabled="authenticating"
          @blur="$v.form.token.$touch"
        />
      </q-field>
      <div class="row inline full-width justify-end q-mt-md">
        <div class="col">
          <q-field>
            <q-checkbox
              v-model="form.rememberMe"
              :label="$t('Remember me')"
              :title="$t('It will save your access key in a cookie on your device')"
            />
          </q-field>
        </div>
        <div class="col text-right">
          <q-btn
            color="positive"
            :label="$t('Enter')"
            :loading="authenticating"
            @click="onSubmit"
          >
            <template slot="loading">
              <q-spinner color="white" class="inline"/>
            </template>
          </q-btn>
        </div>
      </div>
    </q-card-main>
  </q-card>
</template>

<script>
import { Cookies, QCard, QCardTitle, QCardMain, QField, QInput, QCheckbox, QSpinner } from 'quasar'

import { required } from 'vuelidate/lib/validators'

export default {
  name: 'AuthForm',

  components: {
    QCard,
    QCardTitle,
    QCardMain,
    QField,
    QInput,
    QCheckbox,
    QSpinner
  },

  data () {
    return {
      authenticating: false,
      form: {
        token: null,
        rememberMe: false
      }
    }
  },

  validations: {
    form: {
      token: { required }
    }
  },

  mounted () {
    if (Cookies.has('buggy-auth')) {
      this.form.token = Cookies.get('buggy-auth')
      this.form.rememberMe = true
    }
  },

  methods: {
    onSubmit () {
      this.authenticating = true

      this.$v.form.$touch()

      if (this.$v.form.$error) {
        this.onLoginFailed()
        return
      }

      this.$store
        .dispatch('login', {
          token: this.form.token,
          rememberMe: this.form.rememberMe
        })
        .then(() => this.onLoginSuccess())
        .catch(e => this.onLoginFailed())
    },

    onLoginSuccess () {
      this.authenticating = false
    },

    onLoginFailed () {
      this.form.token = ''
      this.$q.notify({
        tyoe: 'negative',
        message: this.$t('Sign in failed')
      })
      this.authenticating = false
    }
  }
}
</script>

<style lang="stylus">
.auth-form
  width 100%
  max-width 300px

  .logo
    height 8rem
</style>
