<template>
  <component
    :is="loading ? loadingComponent : loadedComponent"
    v-bind="loading ? { size: '40px', color: 'primary' } : options"
  >
    <slot :slot-scope="options"></slot>
  </component>
</template>

<script>
import { QSpinner } from 'quasar'

export default {
  name: 'ComponentLoader',

  components: {
    QSpinner
  },

  props: {
    loader: {
      type: Function,
      default: () => null
    },
    loadingComponent: {
      type: Object,
      default: () => QSpinner
    },
    options: {
      type: Object,
      default: () => {}
    },
    delay: {
      type: Number,
      default: () => 300
    }
  },

  data () {
    return {
      loading: true,
      loadingError: null,
      loadedComponent: null
    }
  },

  mounted () {
    this.reloadComponent()
  },

  methods: {
    reloadComponent () {
      this.loadingError = null
      this.loadedComponent = null
      if (this.loader && typeof this.loader === 'function') {
        this.loading = true
        // Add a delay to avoid loader's blinking
        setTimeout(() => {
          const loadingResult = this.loader()
          if (loadingResult && loadingResult.then) {
            loadingResult
              .then(result => {
                this.loadedComponent =
                  result && result.default ? result.default : result
                this.loading = false
                this.$emit('loaded', this.loadedComponent)
              })
              .catch(e => {
                this.loading = false
                this.$emit('loadError', e.message)
              })
          } else {
            this.loading = false
            this.loadedComponent = loadingResult
            this.$emit('loaded', this.loadedComponent)
          }
        }, this.delay)
      } else {
        this.loading = false
      }
    }
  },

  watch: {
    loader (val, old) {
      if (val !== old) {
        this.reloadComponent()
      }
    }
  }
}
</script>

<style lang="stylus">
@import '~variables'

.q-spinner
  display block
  color $tertiary
  margin 1rem auto
</style>
