<template>
  <div
    class="image-input"
    :style="styleObject"
  >
    <input
      ref="fileInput"
      v-if="!readonly"
      type="file"
      accept="image/*"
      :title="floatLabel || stackLabel"
      @change="uploadImage"
    />
    <q-icon
      name="cancel"
      class="image-clear q-if-control"
      v-if="showClearButton"
      @click.native="clearImage"
    />
  </div>
</template>

<script>
export default {
  name: 'ImageInput',

  props: {
    urlPrefix: String,
    value: String,
    filename: String,
    defaultImage: String,
    clearable: Boolean,
    readonly: Boolean,
    floatLabel: String,
    stackLabel: String
  },

  computed: {
    fullURI () {
      return (this.urlPrefix && this.dataURI && this.dataURI[0] === '/') ? (this.urlPrefix + this.dataURI) : this.dataURI
    },

    styleObject () {
      return {
        borderStyle: this.dataURI ? 'solid' : 'dashed',
        backgroundImage: 'url(' + (this.fullURI || this.defaultImage) + ')',
        backgroundColor: this.dataURI ? '#fff' : 'transparent'
      }
    },

    showClearButton () {
      return Boolean(this.clearable && !this.readonly && this.dataURI)
    }
  },

  data () {
    return {
      dataURI: null,
      name: null
    }
  },

  mounted () {
    this.dataURI = this.value
    this.name = this.filename
  },

  methods: {
    uploadImage (evt) {
      const imgFile = evt.target.files[0]
      const reader = new FileReader()
      reader.addEventListener(
        'load',
        () => {
          this.dataURI = reader.result
          this.name = imgFile.name
        },
        false
      )
      if (imgFile) {
        reader.readAsDataURL(imgFile)
      } else {
        this.clearImage()
      }
      this.$emit('imageChanged', imgFile)
    },

    clearImage () {
      this.$emit('clear', this.name)
      this.$refs.fileInput.value = ''
      this.dataURI = null
      this.name = null
    }
  },

  watch: {
    value (val) {
      this.dataURI = val
    },

    filename (val) {
      this.name = val
    },

    dataURI (val) {
      this.$emit('input', val)
    }
  }
}
</script>

<style scoped lang="stylus">
@import '~variables'

.image-input
  position relative
  display flex
  flex-direction column
  width 100%
  margin 0 auto
  padding 10rem 1rem
  border 1px dashed $grey-5
  background-color transparent
  background-position center
  background-repeat no-repeat
  background-size auto 100%
  background-size contain
  overflow hidden
  text-align center

  input[type="file"]
    position absolute
    display block
    opacity 0
    width 100%
    height 100%
    top 0
    left 0
    cursor pointer

  .image-clear
    position absolute
    bottom 0
    right 0
    margin 1rem
    height 1em
    border-radius 50%
    background-color #fff
</style>
