<template>
  <div class="issue-note-list column relative-position q-mt-sm">
    <div class="q-title q-my-md text-center">
      {{ $t('Comments') }}
      <q-chip
        class="q-ml-sm"
        color="primary"
        v-if="$store.state.issueNoteCount > 0"
      >{{ $store.state.issueNoteCount }}</q-chip>
    </div>
    <component-loader
      v-if="!loading"
      v-for="note in currentIssueNotes"
      :key="note.id"
      :loader="issueNoteLoader"
      :options="{ note: note }"
    />
    <div class="row justify-center">
      <q-btn
        color="primary"
        class="q-my-lg"
        :label="$t('Show more')"
        :loading="loading"
        @click="loadMoreIssueNotes"
        v-if="$store.state.issueNotes.length < $store.state.issueNoteCount"
      >
        <template slot="loading">
          <q-spinner color="white" class="inline"/>
          <span class="q-ml-sm">{{ $t('Please wait...') }}</span>
        </template>
      </q-btn>
    </div>
    <component-loader
      :loader="issueNoteLoader"
    />
    <q-inner-loading :visible="loading">
      <q-spinner color="primary" size="64"/>
    </q-inner-loading>
  </div>
</template>

<script>
import { QInnerLoading, QSpinner, QChip } from 'quasar'

import ComponentLoader from 'components/ComponentLoader'

export default {
  name: 'IssueNoteList',

  components: {
    QInnerLoading,
    QSpinner,
    QChip,
    ComponentLoader
  },

  computed: {
    currentProjectId () {
      return this.$store.state.currentProject
        ? this.$store.state.currentProject.id
        : null
    },

    currentIssueIid () {
      return this.$store.state.currentIssue
        ? this.$store.state.currentIssue.iid
        : null
    },

    currentIssueNotes () {
      return this.$store.state.issueNotes
    }
  },

  data () {
    return {
      loading: false,
      page: 1
    }
  },

  mounted () {
    this.reloadIssueNotes()
  },

  methods: {
    issueNoteLoader: () => import('components/IssueNote'),

    reloadIssueNotes () {
      if (this.currentIssueIid) {
        this.loading = true
        if (this.$route.params.issueIid) {
          this.$store.dispatch('fetchNotesByIssue', {
            projectId: this.currentProjectId,
            issueIid: this.currentIssueIid
          }).then(() => {
            this.loading = false
          })
        } else {
          this.$store.commit('setIssueNotes', [])
          this.loading = false
        }
      }
    },

    loadMoreIssueNotes () {
      this.page += 1
    }
  },

  watch: {
    currentIssueIid (val, old) {
      if (val !== old) {
        this.page = 1
        this.$nextTick(() => this.reloadIssueNotes())
      }
    },

    page (val, old) {
      if (val !== old) {
        this.$nextTick(() => this.reloadIssueNotes())
      }
    }
  }
}
</script>

<style scoped lang="stylus">
.issue-note-list
  min-height 5rem
</style>
