<template>
  <div class="issue-list">
    <div class="row full-width q-mt-sm">
      <q-search
        clearable
        v-model="searchQuery"
        class="col-xs-7 col-sm-10"
        :debounce="500"
        :placeholder="$t('Search issues...')"
        @input="reloadIssues"
      />
      <q-select
        radio
        v-model="filterBy"
        class="col-xs-5 col-sm-2"
        :options="filterOptions"
        @input="reloadIssues"
      />
    </div>
    <div class="issue-list-wrapper column relative-position">
      <q-list no-border>
        <q-item
          link separator
          class="animate-scale"
          v-for="item in issues"
          :key="item.id"
          @click.native="$router.push('/' + currentProjectId + '/' + item.iid)"
        >
          <q-item-side>
            #{{ item.iid }}
          </q-item-side>
          <q-item-main :label="item.title"/>
          <q-item-side right>
            <q-chip
              dense
              class="q-ml-sm"
              color="primary"
              v-for="label in item.labels"
              :key="label"
            >{{ label }}</q-chip>
          </q-item-side>
          <q-item-side right :stamp="localDate(item.updated_at)"/>
        </q-item>
        <q-item v-if="!loading && issues.length === 0" class="no-issue-alert column text-faded">
          <img src="~assets/happy.svg" class="q-mb-md animate-pop"/>
          <br/>
          {{ $t('No issues yet...') }}
        </q-item>
        <div class="row justify-center">
          <q-btn
            color="primary"
            class="q-my-lg"
            :label="$t('Show more')"
            :loading="loading"
            @click="loadMoreIssues"
            v-if="$store.state.issues.length < $store.state.issueCount"
          >
            <template slot="loading">
              <q-spinner color="white" class="inline"/>
              <span class="q-ml-sm">{{ $t('Please wait...') }}</span>
            </template>
          </q-btn>
        </div>
      </q-list>
      <q-inner-loading :visible="loading">
        <q-spinner color="primary" size="64"/>
      </q-inner-loading>
    </div>
  </div>
</template>

<script>
import { date, openURL, QInnerLoading, QSpinner, QSearch, QSelect, QChip } from 'quasar'

export default {
  name: 'IssueList',

  components: {
    QInnerLoading,
    QSpinner,
    QSearch,
    QSelect,
    QChip
  },

  computed: {
    currentProjectId () {
      return this.$store.state.currentProject
        ? this.$store.state.currentProject.id
        : null
    },

    issues () {
      return this.$store.state.issues
    },

    filterOptions () {
      return [
        { value: null, label: this.$t('All') },
        { value: 'state=opened', label: this.$t('Open') },
        { value: 'state=closed', label: this.$t('Closed') }
      ]
    }
  },

  data () {
    return {
      loading: false,
      searchQuery: null,
      filterBy: 'state=opened',
      page: 1
    }
  },

  mounted () {
    this.reloadIssues()
  },

  methods: {
    reloadIssues () {
      if (this.currentProjectId) {
        this.loading = true
        this.$store.dispatch('fetchIssuesByProject', {
          projectId: this.currentProjectId,
          searchQuery: this.searchQuery,
          filterBy: this.filterBy,
          page: this.page
        }).then(() => {
          this.loading = false
        })
      }
    },

    loadMoreIssues () {
      this.page += 1
    },

    localDate (original) {
      return date.formatDate(original, this.$t('YYYY-MM-DD HH:mm'))
    },

    openURL: openURL
  },

  watch: {
    currentProjectId (val, old) {
      if (val !== old) {
        this.page = 1
        this.$nextTick(() => this.reloadIssues())
      }
    },

    page (val, old) {
      if (val !== old) {
        this.$nextTick(() => this.reloadIssues())
      }
    },

    filterBy (val, old) {
      if (val !== old) {
        this.page = 1
      }
    },

    '$store.state.currentIssue' (val, old) {
      if (val !== old) {
        this.page = 1
      }
    }
  }
}
</script>

<style lang="stylus">
.issue-list-wrapper
  min-height 16rem
  margin 0 -1rem

.no-issue-alert
  img
    width 100%
    max-width 128px
</style>
