<template>
  <q-card :class="currentIssueNoteStyle">
    <q-item v-if="note">
      <q-item-side :avatar="note.author.avatar_url" />
      <q-item-main>
        <q-item-tile label>{{ note.author.name }}</q-item-tile>
        <q-item-tile sublabel>
          <q-icon name="schedule"/>
          <small>{{ note.updated_at }}</small>
        </q-item-tile>
      </q-item-main>
      <q-item-side right v-if="!note.system">
        <q-btn
          round dense
          :flat="!editMode"
          :icon="editMode ? 'check' : 'edit'"
          :title="editMode ? $t('Submit') : $t('Edit')"
          :color="editMode ? 'positive' : null"
          :loading="loading"
          @click="updateIssueNote"
        />
      </q-item-side>
    </q-item>
    <q-card-main v-html="form.body" v-if="note && !editMode"/>
    <q-card-main v-else>
      <q-field class="issue-note-description q-mt-sm" label-width="12">
        <q-editor
          class="issue-editor"
          v-model="form.body"
          :toolbar="[
            ['bold', 'italic', 'strike', 'underline']
          ]"
          @drop.native.stop.prevent
        />
      </q-field>
      <div class="row justify-end q-mt-md">
        <q-btn
          v-if="!note"
          color="positive"
          :label="$t('Submit')"
          :loading="loading"
          @click="submitIssueNote"
        >
          <template slot="loading">
            <q-spinner color="white" class="inline"/>
            <span class="q-ml-sm">{{ $t('Please wait...') }}</span>
          </template>
        </q-btn>
      </div>
    </q-card-main>
  </q-card>
</template>

<script>
import { QCard, QCardTitle, QCardMain, QField, QEditor, QSpinner } from 'quasar'

export default {
  name: 'IssueNote',

  components: {
    QCard,
    QCardTitle,
    QCardMain,
    QField,
    QEditor,
    QSpinner
  },

  props: ['note'],

  computed: {
    currentProjectId () {
      return this.$store.state.currentProject
        ? this.$store.state.currentProject.id
        : null
    },

    currentIssueIid () {
      return this.$store.state.currentIssue
        ? this.$store.state.currentIssue.iid
        : null
    },

    currentIssueNoteId () {
      return this.note ? this.note.id : null
    },

    currentIssueNoteStyle () {
      return [
        'issue-note',
        'q-mt-sm',
        'animate-scale',
        (this.note && this.note.system) ? 'bg-orange-1' : 'bg-amber-1'
      ]
    }
  },

  data () {
    return {
      editMode: false,
      loading: false,
      form: {
        body: ''
      }
    }
  },

  mounted () {
    this.reloadIssueNote()
  },

  methods: {
    reloadIssueNote () {
      this.editMode = (this.currentIssueNoteId === null)
      this.form.body = this.note ? this.note.body : ''
    },

    updateIssueNote () {
      if (this.editMode) {
        this.submitIssueNote()
      }
      this.editMode = !this.editMode
    },

    submitIssueNote () {
      this.loading = true
      if (this.note && this.note.id) {
        this.$store.dispatch('updateIssueNote', {
          projectId: this.currentProjectId,
          issueIid: this.currentIssueIid,
          noteId: this.note.id,
          body: this.form.body
        }).then(() => {
          this.$q.notify({
            type: 'positive',
            message: this.$t('Updated')
          })
          this.loading = false
        }).catch(e => {
          this.loading = false
        })
      } else {
        this.$store.dispatch('submitIssueNote', {
          projectId: this.currentProjectId,
          issueIid: this.currentIssueIid,
          body: this.form.body
        }).then(() => {
          this.form.body = ''
          this.$q.notify({
            type: 'positive',
            message: this.$t('Submitted')
          })
          this.loading = false
        }).catch(e => {
          this.loading = false
        })
      }
    }
  }
}
</script>

<style lang="stylus">
</style>
