<template>
  <form enctype="multipart/form-data" @submit.prevent>
    <q-field class="issue-title" label-width="12">
      <q-input clearable v-model="form.title" type="text" :float-label="$t('Title')"/>
    </q-field>
    <q-field class="issue-screenshot q-mt-sm" icon="cloud_upload" :label="$t('Upload a screenshot')" label-width="12">
      <image-input
        clearable
        v-model="form.screenshotURI"
        :urlPrefix="currentIssueScreenshotURIPrefix"
        @imageChanged="onImageChanged"
      />
    </q-field>
    <q-field class="issue-description q-mt-sm" :label="$t('Description')" label-width="12">
      <q-editor
        class="issue-editor"
        v-model="form.description"
        :toolbar="[
          ['bold', 'italic', 'strike', 'underline']
        ]"
        @drop.native="onFileDrop"
      />
    </q-field>
    <q-field class="q-mt-sm" label-width="12">
      <q-select
        clearable chips filter autofocus-filter multiple
        v-model="form.labels"
        :float-label="$t('Labels')"
        :options="projectLabelOptions"
        :filter-placeholder="$t('Search label...')"
      />
    </q-field>
    <div class="row inline full-width justify-end">
      <q-btn
        class="q-mt-md self-end"
        color="positive"
        :label="$store.state.currentIssue ? $t('Update') : $t('Submit')"
        :loading="submitting"
        @click="onSubmit"
      >
        <template slot="loading">
          <q-spinner color="white" class="inline"/>
          <span class="q-ml-sm">{{ $t('Please wait...') }}</span>
        </template>
      </q-btn>
      <q-btn
        outline
        v-if="$store.state.currentIssue"
        class="q-mt-md q-ml-md self-end"
        color="secondary"
        :label="$store.state.currentIssue.closed_at ? $t('Reopen') : $t('Close')"
        :loading="changingStatus"
        @click="onClose"
      >
        <template slot="loading">
          <q-spinner color="white" class="inline"/>
          <span class="q-ml-sm">{{ $t('Please wait...') }}</span>
        </template>
      </q-btn>
    </div>
  </form>
</template>

<script>
import { QField, QSelect, QInput, QEditor, QSpinner } from 'quasar'

import ImageInput from 'components/ImageInput'

export default {
  name: 'IssueForm',

  components: {
    QField,
    QSelect,
    QInput,
    QEditor,
    QSpinner,
    ImageInput
  },

  computed: {
    currentProjectId () {
      return this.$store.state.currentProject
        ? this.$store.state.currentProject.id
        : null
    },

    currentIssueIid () {
      return this.$store.state.currentIssue
        ? this.$store.state.currentIssue.iid
        : null
    },

    currentIssueScreenshotURI () {
      return this.$store.state.currentIssue
        ? this.$store.state.currentIssue.screenshotURI || null
        : null
    },

    currentIssueScreenshotURIPrefix () {
      return this.$store.state.currentProject && this.$store.state.currentIssue ? this.$store.state.currentProject.web_url : ''
    },

    projectLabelOptions () {
      return this.$store.state.labels.map(label => {
        return {
          value: label.name,
          label: label.name
        }
      })
    }
  },

  data () {
    return {
      submitting: false,
      changingStatus: false,
      form: {
        title: '',
        screenshot: null,
        screenshotURI: '',
        description: '',
        labels: []
      }
    }
  },

  mounted () {
    this.clearForm()
  },

  methods: {
    onSubmit () {
      this.submitting = true
      if (this.form.screenshot) {
        return this.$store.dispatch('uploadAttachment', {
          projectId: this.currentProjectId,
          data: this.form.screenshot
        }).then(upload => {
          return this._submitForm(
            this.form.title,
            upload.markdown,
            this.form.description,
            this.form.labels
          )
        }).catch(err => {
          this.$q.notify({
            type: 'negative',
            message: err.message
          })
          this.submitting = false
        })
      }
      return this._submitForm(
        this.form.title,
        this.currentIssueScreenshotURI,
        this.form.description,
        this.form.labels
      )
    },

    onClose () {
      this.changingStatus = true
      return this.$store.dispatch('changeIssueStatus', {
        projectId: this.currentProjectId,
        iid: this.currentIssueIid,
        stateEvent: this.$store.state.currentIssue.closed_at ? 'reopen' : 'close'
      }).then(issue => {
        this.changingStatus = false
        this.$q.notify({
          type: 'positive',
          message: this.$store.state.currentIssue.closed_at ? this.$t('Issue closed') : this.$t('Issue reopened')
        })
        // Fetch again issue notes after update.
        this.$store.dispatch('fetchNotesByIssue', {
          projectId: this.currentProjectId,
          issueIid: this.currentIssueIid,
          page: 1
        })
      }).catch(err => {
        this.$q.notify({
          type: 'negative',
          message: err.message
        })
        this.changingStatus = false
      })
    },

    onFileDrop (evt) {
      evt.preventDefault()
    },

    onImageChanged (evt) {
      this.form.screenshot = evt
    },

    clearForm () {
      // Clear form only on a fresh new submission.
      if (!this.currentIssueIid) {
        this.submitting = false
        this.form.title = ''
        this.form.screenshot = null
        this.form.screenshotURI = ''
        this.form.description = ''
        this.form.labels = []
      }
      this.refetchLabels()
    },

    refetchLabels () {
      if (this.currentProjectId) {
        this.$store.dispatch('fetchLabelsByProject', this.currentProjectId)
      }
    },

    _submitForm (title, screenshotURI, description, labels) {
      this.submitting = true
      const isUpdate = this.currentIssueIid
      return this.$store.dispatch('submitIssue', {
        projectId: this.currentProjectId,
        iid: this.currentIssueIid,
        title: title,
        screenshotURI: screenshotURI,
        description: description,
        labels: labels
      }).then(issue => {
        this.submitting = false
        this.clearForm()
        this.$q.notify({
          type: 'positive',
          message: isUpdate ? this.$t('Issue updated') : this.$t('Issue submitted')
        })
        // Fetch again issue notes after update.
        if (isUpdate) {
          this.$store.dispatch('fetchNotesByIssue', {
            projectId: this.currentProjectId,
            issueIid: this.currentIssueIid,
            page: 1
          })
        }
      }).catch(err => {
        this.$q.notify({
          type: 'negative',
          message: err.message
        })
        this.submitting = false
      })
    }
  },

  watch: {
    currentProjectId (val, old) {
      this.clearForm()
      if (val !== old) {
        this.refetchLabels()
      }
    },

    currentIssueIid (val, old) {
      this.clearForm()
      if (val) {
        this.form.title = this.$store.state.currentIssue.title
        this.form.screenshot = null
        this.form.screenshotURI = this.currentIssueScreenshotURI
        this.form.description = this.$store.state.currentIssue.description
        this.form.labels = this.$store.state.currentIssue.labels
      }
    }
  }
}
</script>

<style lang="stylus">
@import '~variables'

.issue-editor img
  max-width 100%

.issue-screenshot
  position relative

  .q-field-icon
  .q-field-label
    position absolute
    top 50%
    left 50%
    z-index 0
    transform translate(-50%, -50%)
    pointer-events none

  .q-field-icon
    font-size 3em
    margin-top -.75rem

  .q-field-label
    width 100%
    padding-right 0
    margin-top 1.25rem
    text-align center

    .q-field-label-inner
      justify-content center

  .q-input
    position relative
    border-width 1px
    border-style dashed
    border-radius .2rem

  img.preview
  .q-input:before
    position absolute
    width calc(100% - .5rem)
    height calc(100% - .5rem)
    top 50%
    left 50%
    z-index 0
    transform translate(-50%, -50%)
    border-radius .2rem
    background-color #fff

  input
    opacity 0
    padding 5rem 1rem
    cursor pointer
</style>
