<template>
  <q-toolbar
    color="primary"
    :inverted="$q.theme === 'ios'"
  >
    <q-btn
      flat dense round
      v-if="$store.state.currentUser"
      :aria-label="$t('Menu')"
      @click="$emit('toggleMenu')"
    >
      <q-icon name="menu" />
    </q-btn>

    <q-toolbar-title>
      <span
        class="cursor-pointer"
        @click="$router.replace('/')"
      >
        {{ $appinfo.productName }}
      </span>
      <span v-if="$store.state.currentProject">
        /
        <span
          class="cursor-pointer"
          :title="$t('View on GitLab')"
          @click="openURL($store.state.currentProject.web_url)"
        >
          {{ $store.state.currentProject.name }}
        </span>
      </span>
    </q-toolbar-title>

    <q-btn
      flat
      :label="$store.state.settings.lang"
      :title="$t('Choose a language')"
    >
      <q-popover>
        <q-list separator link>
          <q-item
            v-close-overlay
            v-for="item in langOptions"
            :key="item.value"
            @click.native="setLocale(item.value)"
          >
            {{ item.label }}
          </q-item>
        </q-list>
      </q-popover>
    </q-btn>

    <q-btn
      flat
      v-if="$store.state.currentUser"
      :label="$store.state.currentUser.username"
    >
      <img class="avatar q-ml-sm" :src="$store.state.currentUser.avatar_url"/>
    </q-btn>

    <q-btn
      flat
      dense
      round
      v-if="$store.state.currentUser"
      icon="exit_to_app"
      :aria-label="$t('Sign out')"
      :title="$t('Sign out')"
      @click="signOut"
    />
  </q-toolbar>
</template>

<script>
import { openURL, QPopover } from 'quasar'

import messages from 'src/i18n'

export default {
  name: 'MainMenu',

  components: {
    QPopover
  },

  computed: {
    langOptions () {
      return Object.keys(messages).map(key => ({ value: key, label: key.toUpperCase() }))
    }
  },

  mounted () {
    this.setLocale(this.$store.state.settings.lang)
  },

  methods: {
    openURL,

    signOut () {
      this.$store.dispatch('logout').then(() => {
        this.$router.replace('/')
      })
    },

    setLocale (val) {
      import(`quasar-framework/i18n/${val}`).then(lang => {
        this.$q.i18n.set(lang.default)
        this.$root.$i18n.locale = val
        this.$store.commit('setLocale', val)
      })
    }
  }
}
</script>

<style lang="stylus">
</style>
