<template>
  <q-item class="animate-scale" :title="description" :to="'/' + id">
    <q-item-side>
      <q-item-tile avatar>
        <img v-if="avatar_url" :src="avatar_url + '?private_token=' + $store.state.currentAuthToken"/>
        <img v-else src="~assets/logo.svg"/>
      </q-item-tile>
    </q-item-side>
    <q-item-main :label="name"/>
    <q-item-side right>
      <q-chip
        v-if="open_issues_count > 0"
        :color="chipColor"
        :title="$t('Open issues')"
      >{{ open_issues_count }}</q-chip>
      <q-item-tile v-else icon="chevron_right"/>
    </q-item-side>
  </q-item>
</template>

<script>
import { QChip } from 'quasar'

export default {
  name: 'ProjectSummary',

  components: {
    QChip
  },

  props: [
    'id',
    'name',
    'avatar_url',
    'description',
    'open_issues_count'
  ],

  computed: {
    chipColor () {
      if (this.open_issues_count < 5) {
        return 'positive'
      } else if (this.open_issues_count < 10) {
        return 'amber-9'
      }
      return 'negative'
    }
  }
}
</script>

<style>
</style>
