<template>
  <div class="project-grid q-pa-sm" style="flex:1">
    <div class="row gutter-xs full-height content-start">
      <div
        class="col col-xs-12 col-sm-4 col-md-3 col-lg-2"
        style="height:25%"
        v-for="item in items"
        :key="item.id"
      >
        <component-loader
          class="project-card full-height"
          :loader="projectCardLoader"
          :options="{
            id: item.id,
            name: item.name,
            avatar_url: item.avatar_url,
            open_issues_count: item.open_issues_count
          }"
        />
      </div>
    </div>
    <q-inner-loading :visible="loading">
      <q-spinner color="primary" size="128px"/>
    </q-inner-loading>
  </div>
</template>

<script>
import { QInnerLoading, QSpinner } from 'quasar'

import ComponentLoader from 'components/ComponentLoader'

export default {
  name: 'ProjectGrid',

  components: {
    QInnerLoading,
    QSpinner,
    ComponentLoader
  },

  data () {
    return {
      items: [],
      loading: true,
      page: 1
    }
  },

  mounted () {
    this.reloadProjects()

    this.$options.timer = setInterval(() => this.reloadProjects(), 30000)
  },

  beforeDestroy () {
    clearInterval(this.$options.timer)
  },

  methods: {
    projectCardLoader: () => import('components/ProjectCard'),

    reloadProjects () {
      this.loading = true
      this.$store.dispatch('fetchAllProjects', {
        page: this.page,
        itemsPerPage: 100
      }).then(() => {
        this.items = this.$store.state.projects
          .filter(item => item.open_issues_count > 0)
          .sort((a, b) => {
            if (a.open_issues_count > b.open_issues_count) return -1
            else if (a.open_issues_count < b.open_issues_count) return 1
            return 0
          })
      }).catch(err => {
        console.error(err.message)
      }).finally(() => {
        this.loading = false
      })
    },

    loadMoreProjects () {
      this.page += 1
    }
  },

  watch: {
    sortBy (val, old) {
      if (val !== old) {
        this.$nextTick(() => this.reloadProjects())
      }
    },

    page (val, old) {
      if (val !== old) {
        this.$nextTick(() => this.reloadProjects())
      }
    }
  }
}
</script>

<style scoped lang="stylus">
</style>
