<template>
  <q-list no-border separator link class="project-list">
    <q-list-header class="row inline full-width items-center">
      <div class="col">
        {{ $t('Projects') }}
        <q-chip
          class="q-ml-sm"
          color="primary"
          v-if="$store.state.projectCount > 0"
        >{{ $store.state.projectCount }}</q-chip>
      </div>
      <q-btn
        round dense flat
        class="text-right"
        icon="sort"
        :title="$t('Sort by...')"
      >
        <q-popover>
          <q-list separator link>
            <q-item
              v-close-overlay
              @click.native="sortBy = 'name'"
            >
              <q-item-main>{{ $t('Name') }}</q-item-main>
              <q-item-side right :icon="sortBy === 'name' ? 'check' : ''"/>
            </q-item>
            <q-item
              v-close-overlay
              @click.native="sortBy = 'created_at'"
            >
              <q-item-main>{{ $t('Creation date') }}</q-item-main>
              <q-item-side right :icon="sortBy === 'created_at' ? 'check' : ''"/>
            </q-item>
            <q-item
              v-close-overlay
              @click.native="sortBy = 'last_activity_at'"
            >
              <q-item-main>{{ $t('Last activity') }}</q-item-main>
              <q-item-side right :icon="sortBy === 'last_activity_at' ? 'check' : ''"/>
            </q-item>
          </q-list>
        </q-popover>
      </q-btn>
      <q-btn
        round dense flat
        class="text-right"
        icon="refresh"
        :title="$t('Refresh')"
        @click="reloadProjects"
      />
    </q-list-header>
    <template v-if="items.length > 0">
      <component-loader
        class="project-summary"
        v-for="item in items"
        :key="item.id"
        :loader="projectSummaryLoader"
        :options="{
          id: item.id,
          name: item.name,
          description: item.description,
          avatar_url: item.avatar_url,
          open_issues_count: item.open_issues_count
        }"
      />
      <div class="row justify-center">
        <q-btn
          color="primary"
          class="q-my-lg"
          :label="$t('Show more')"
          :loading="loading"
          @click="loadMoreProjects"
          v-if="$store.state.projects.length < $store.state.projectCount"
        >
          <template slot="loading">
            <q-spinner color="white" class="inline"/>
            <span class="q-ml-sm">{{ $t('Please wait...') }}</span>
          </template>
        </q-btn>
      </div>
    </template>
    <p v-else class="text-faded text-center absolute-center animate-fade">
      <template v-if="loading">{{ $t('Loading...') }}</template>
      <template v-else>{{ $t('No projects yet') }}</template>
    </p>
    <q-inner-loading :visible="loading">
      <q-spinner color="primary" size="128px"/>
    </q-inner-loading>
  </q-list>
</template>

<script>
import { QInnerLoading, QSpinner, QPopover, QChip } from 'quasar'

import ComponentLoader from 'components/ComponentLoader'

export default {
  name: 'ProjectList',

  components: {
    QInnerLoading,
    QSpinner,
    QPopover,
    QChip,
    ComponentLoader
  },

  data () {
    return {
      items: [],
      loading: true,
      sortBy: 'name',
      page: 1
    }
  },

  mounted () {
    this.reloadProjects()
  },

  methods: {
    projectSummaryLoader: () => import('components/ProjectSummary'),

    reloadProjects () {
      this.loading = true
      this.$store.dispatch('fetchAllProjects', {
        sortBy: this.sortBy,
        page: this.page
      }).then(() => {
        this.items = this.$store.state.projects
        this.loading = false
      })
    },

    loadMoreProjects () {
      this.page += 1
    }
  },

  watch: {
    sortBy (val, old) {
      if (val !== old) {
        this.$nextTick(() => this.reloadProjects())
      }
    },

    page (val, old) {
      if (val !== old) {
        this.$nextTick(() => this.reloadProjects())
      }
    }
  }
}
</script>

<style scoped lang="stylus">
</style>
