<template>
  <q-card
    inline
    class="full-width bg-white column"
    style="display:inline-flex!important"
  >
    <q-card-title>{{ name }}</q-card-title>
    <q-card-separator />
    <q-card-main class="flex flex-center" style="flex:1">
      <q-knob
        readonly
        class="q-ma-xs"
        style="font-size: 3rem"
        line-width="6px"
        :color="lineColor"
        :value="open_issues_count"
        :min="0"
        :max="50"
        :step="1"
      />
    </q-card-main>
  </q-card>
</template>

<script>
import {
  QCard,
  QCardTitle,
  QCardSeparator,
  QCardMain,
  QKnob
} from 'quasar'

export default {
  name: 'ProjectCard',

  components: {
    QCard,
    QCardTitle,
    QCardSeparator,
    QCardMain,
    QKnob
  },

  props: [
    'id',
    'name',
    'avatar_url',
    'open_issues_count'
  ],

  computed: {
    lineColor () {
      if (this.open_issues_count < 5) {
        return 'positive'
      } else if (this.open_issues_count < 10) {
        return 'amber-9'
      }
      return 'negative'
    }
  },

  mounted () {
  }
}
</script>

<style scoped lang="stylus">
</style>
