<template>
  <div id="q-app" class="bg-grey-3">
    <router-view />
  </div>
</template>

<script>
export default {
  name: 'App',

  mounted () {
    this.$store.commit('setLocale')
  }
}
</script>

<style>
</style>
