<template>
  <q-layout view="lHh Lpr lFf">
    <q-layout-header>
      <main-menu @toggleMenu="leftDrawerOpen = !leftDrawerOpen"/>
    </q-layout-header>

    <q-layout-drawer
      v-if="$store.state.currentUser"
      v-model="leftDrawerOpen"
      :content-class="$q.theme === 'mat' ? 'bg-grey-2' : null"
    >
      <project-list/>
    </q-layout-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import MainMenu from 'components/MainMenu'
import ProjectList from 'components/ProjectList'

export default {
  name: 'LayoutDefault',

  components: {
    MainMenu,
    ProjectList
  },

  data () {
    return {
      leftDrawerOpen: this.$q.platform.is.desktop && (this.$store.state.currentUser !== null)
    }
  }
}
</script>

<style lang="stylus">
</style>
