<template>
  <q-layout view="hHh Lpr fFf">
    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'LayoutMonitor',

  mounted () {
    const token = this.$route.query.private_token
    this.$store.commit('setCurrentAuthToken', token)
  }
}
</script>

<style lang="stylus">
</style>
